# 抓取個股財務資訊

## 相關連結

財務比率表(季表,台積電)
* [http://jsjustweb.jihsun.com.tw/z/zc/zcr/zcr0.djhtm?b=Q&a=2330](http://jsjustweb.jihsun.com.tw/z/zc/zcr/zcr0.djhtm?b=Q&a=2330)

現金流量表(季表,台積電)
* [http://jsjustweb.jihsun.com.tw/z/zc/zc30.djhtm?b=Q&a=2330](http://jsjustweb.jihsun.com.tw/z/zc/zc30.djhtm?b=Q&a=2330)

---

In [1]:
import pandas as pd

In [2]:
url = "http://jsjustweb.jihsun.com.tw/z/zc/zcr/zcr0.djhtm?b=Q&a=2330"

In [3]:
dfs = pd.read_html(url)

In [ ]:
dfs[2].head()

               0           1           2  ...           6           7           8
0     獲利能力指標單位：%  獲利能力指標單位：%  獲利能力指標單位：%  ...  獲利能力指標單位：%  獲利能力指標單位：%  獲利能力指標單位：%
1             期別     2020.2Q     2020.1Q  ...     2019.1Q     2018.4Q     2018.3Q
2             種類          合併          合併  ...          合併          合併          合併
3  ROA(C)稅前息前折舊前        8.69        8.73  ...        6.88        9.42        8.75
4     ROA(A)稅後息前        5.06         5.1  ...         2.9        4.96        4.46

[5 rows x 9 columns]

In [ ]:
df = dfs[2]

In [ ]:
df[df[0]=='期別'].iloc[0]

0         期別
1    2020.2Q
2    2020.1Q
3    2019.4Q
4    2019.3Q
5    2019.2Q
6    2019.1Q
7    2018.4Q
8    2018.3Q
Name: 1, dtype: object

In [ ]:
roedf=df[df[0]=="ROE(A)─稅後"].iloc[0][0:5]
roedf

0    ROE(A)─稅後
1         7.12
2          7.1
3         7.23
4         6.44
Name: 6, dtype: object

In [ ]:
roedf=df[df[0]=="ROE(A)─稅後"].iloc[0][1:5].astype(float)
roedf

1    7.12
2    7.10
3    7.23
4    6.44
Name: 6, dtype: float64

In [ ]:
roe = roedf.sum()
roe

27.89

In [ ]:
url = "http://jsjustweb.jihsun.com.tw/z/zc/zc30.djhtm?b=Q&a=2330"

In [ ]:
dfs = pd.read_html(url)

In [ ]:
df = dfs[2]
df.head()

          0        1        2        3  ...        5        6        7        8
0        期別  2020.2Q  2020.1Q  2019.4Q  ...  2019.2Q  2019.1Q  2018.4Q  2018.3Q
1        種類       合併       合併       合併  ...       合併       合併       合併       合併
2  稅前淨利－CFO   136399   132147   128782  ...    80545    68182   111082    98897
3    折舊－CFO    68982    67084    66137  ...    73705    76192    74806    72505
4    攤提－CFO     1894     1471     1394  ...     1344     1355     1224     1105

[5 rows x 9 columns]

來自營運之現金流量

In [ ]:
op_cashflow=df[df[0]=="來自營運之現金流量"].iloc[0][0:5]
op_cashflow

0    來自營運之現金流量
1       170335
2       203029
3       202954
4       141753
Name: 54, dtype: object

In [ ]:
op_cashflow=df[df[0]=="來自營運之現金流量"].iloc[0][1:5].astype(int)
op_cashflow

1    170335
2    203029
3    202954
4    141753
Name: 54, dtype: int64

In [ ]:
op_cashflow_sum = op_cashflow.sum()
op_cashflow_sum

718071

In [ ]:
inv_cashflow=df[df[0]=="投資活動之現金流量"].iloc[0][1:5].astype(int)
inv_cashflow

1   -129750
2   -188993
3   -171605
4   -108290
Name: 70, dtype: int64

In [ ]:
inv_cashflow_sum = inv_cashflow.sum()
inv_cashflow_sum

-598638

In [ ]:
op_cashflow_sum+inv_cashflow_sum

119433